<div class="dong_tien">
    <div class="thongke-dongtien">
        <div class="thongke-dongtien-item">
            <p>
                Danh thu
            </p>
            <p>
                <span class="gia_format">{{doanhthu}}</span> VND
            </p>
        </div>
        <div class="thongke-dongtien-item">
            <p>
                Phí nhập hàng
            </p>
            <p>
                <span class="gia_format">{{phinhap}}</span> VND
            </p>
        </div>
        <div class="thongke-dongtien-item">
            <p>
                Lợi nhuận
            </p>
            <p>
                <span class="gia_format">{{loinhuan}}</span> VND
            </p>
        </div>
    </div>
    {{!-- <div class="modal-chitietdongtien">
        <div class="modal-chitietdongtien--header">
            <p>
                <Span>Danh thu</Span>
                <span>từ 12.12.2023</span>
                <span>đến 12.12.2023</span>
            </p>
        </div>
        <table class="modal-chitietdongtien--table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã đơn hàng</th>
                    <th>Sản phẩm</th>
                    <th>Giá trị đơn hàng</th>
                    <th>Ngày hoàn thành</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>12312312312312312312</td>
                    <td>
                        <img src="../../images/anh_chi_tiet/Apple/ip15promax/ip15promax.jpg" alt="">
                        <span>iphone</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div> --}}
</div>
