
<div class="bieu_do_thong_ke_trang_thai_don_hang">
    <canvas id="bieudoduong"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    //Lấy dữ liệu thống kê số lượng sản phẩm đã bán trong tháng và vẽ biểu đồ
    if(Array({{ trangthaidonhangs }}).length > 0){
        const thang = ['Tiếp nhận','Đang giao', 'Vận chuyển', 'Hoàn thành', 'Đã huỷ']
        const data = Array({{ trangthaidonhangs }})
        const laybel = "Trạng thái đơn hàng"
        const ctx = document.getElementById('bieudoduong');

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: thang,
                datasets: [{
                    label: laybel,
                    data: data,
                    borderWidth: 3,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(75, 192, 50, 0.6)',
                    ],
                }]
            },
            options: {

            }
        });
    }

</script>