.form_dangnhap,
.form_dangky{
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--mau-phu-thu-1);
    border-radius: 20px;
}
.form_ten{
    color: var(--mau-chinh);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.btn-dangnhap,
.btn-dangky{ 
    margin-top: 20px;
    text-align: center;
}
.trangthai{
    color: white;
    text-align: center;
    font-weight: 400;
}
.trangthai span{
    color: rgb(255, 70, 70);
    font-weight: 400;
}

/* quên mật khẩu */
.quenmatkhau{
    font-weight: 500;
}
.matkhausai,
.emailchuacotk{
    text-align: center;
    color: red;
    margin: 0;
}
#emailHelp{
    font-size: 15px;
    font-weight: 500;
    color: black;
    
}
