
.home{
    background-color: var(--mau-phu-thu-1);
    padding: 10px 30px;
}
.khuyen_mai {
    height: 570px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--mau-phu-thu-2);
}
.khuyen_mai-img {
    width: 100%;
    height: 400px;
    margin: auto;
}
.khuyen_mai-slide_show{
    width: 100%;
    padding: 10px 70px;
    position: absolute;
    top: 375px;
    left: 0;
}
.img_khuyen_mai{
    border: 1px solid var(--mau-phu-thu-3);
    border-radius: 5px;
    width: 100%;
    height: 320px;
}
/* Dien thoai duoc danh gia cao */
.dien_thoai_danh_gia_cao,
.dien_thoai_ban_chay{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(255, 0, 0, 0.5), rgb(0, 0, 255, 0.5));
    border-radius: 10px;
    border: 1px solid var(--mau-phu-thu-3);
    padding: 10px;
    margin-bottom: 20px;
}
.dien_thoai_danh_gia_cao-title,
.dien_thoai_ban_chay-header{
    color: white;
    padding: 0 20px;
    margin-bottom: 10px;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: space-between;
}
.dien_thoai_danh_gia_cao-sanpham,
.dien_thoai_ban_chay-sanpham{
    display: flex;
    margin: auto;
}
.dien_thoai_danh_gia_cao-sanpham .top_sanpham-detail--luotmua{
    position: absolute;
    top: 10px;
    right: 20px;
}
/* Phụ kiện hot */
.phu_kien_hot{

}

/* Danh mục nổi bạt */
.cac_dong_san_pham_noi_bat {
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    padding: 10px 90px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid var(--mau-phu-thu-3);
    background-color: aliceblue;
}
.cac_dong_san_pham_noi_bat-item {
    margin: 15px;
    width: 150px;
    height: 150px;
    border: 1px solid var(--mau-phu-thu-3);
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.cac_dong_san_pham_noi_bat-item:hover{
    transition: all ease 0.2s;
    transform: scale(1.1);
    box-shadow: 0 0 2px 1px silver;
}
.cac_dong_san_pham_noi_bat-item-img{
    width: 100px;
    height: 100px;
    border-radius: 70px;
    overflow: hidden;
}
.cac_dong_san_pham_noi_bat-item-ten{
    margin-top: 5px;
    font-size: 17px;
    font-weight: 600;
}
/* Cam ket */
.cam_ket{
    display: flex;
    justify-content: space-evenly;
    border: 5px solid var(--mau-phu-thu-3);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}
.cam_ket img{
    height: 150px;
    border-radius: 20px;
}