.quanlynhanvien{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.quanlynhanvien p{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: orange;
}



/* Them nhan vien --themnhanvien.hbs */
.themnhanvien{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.themnhanvien-tieude{
    color: orange;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    margin-top: 20px;
}


/* Sua nhan vien */
.suathongtinnv{
    width: 60%;
    margin: 0 auto;
}
.suathongtinnv p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: orange;
}