<form method="post" action="dangnhap/xacthuc" class="form_dangnhap">
    <p class="form_ten">Đăng nhập</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Địa chỉ Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"name='email'>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mật khẩu <i class="fa-solid fa-star-of-life fa-2xs"style="color: #ff0000;"></i></label>
        <input type="password" class="form-control" id="exampleInputPassword1"  name="matkhau">
    </div> 
    {{!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> --}}
    <div class="btn-dangnhap">
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </div>
</form>

<script class="addCookie">
</script>