<link rel="stylesheet" href="./css/quanly/quanly.css">

<div class="quan_ly">
    <h1 class="quan_ly-header">
        Looc Store
    </h1>
    <div class="quan_ly-body">
        <a href="./quanly/sanpham" class="quan_ly-link">
            <button class="quan_ly-btn btn btn-success">
            <i class="fa-solid fa-mobile"></i>
                Quản lý sản phẩm
            </button> 
        </a>
        <a href="./quanly/nhanvien" class="quan_ly-link">
            <button class="quan_ly-btn btn btn-success">
            <i class="fa-solid fa-user-group"></i>
                Quản lý nhân viên
            </button>
        </a>
        <a href="./quanly/donhang" class="quan_ly-link">
            <button class="quan_ly-btn btn btn-success">
            <i class="fa-solid fa-cart-shopping"></i>   
                Quản lý đơn hàng
            </button>
        </a>
        <a href="./quanly/taikhoan" class="quan_ly-link">
            <button class="quan_ly-btn btn btn-success">
            <i class="fa-regular fa-user"></i> 
                Quản lý tài khoản
            </button>
        </a>
    </div>
</div>