<footer class="footer">
    <div class="chatIcon">
        <a href="https://m.me/162078830325396" class="popup_chatwithus">
            <span>Chat với chúng tôi</span>
        </a>
        <img src="../images/logo/logo_mes.jpg" alt="">
    </div>
    <div class="footer-item">
        <h5>
            LOOC STORE
        </h5>
        <p class="footer-item-bio">
            Cửa hàng Looc Store là cửa hàng chuyên cung cấp điện thoại chính hãng.
        </p>
    </div>
    <div class="footer-item">
        <h5>
            LIÊN HỆ HỖ TRỢ
        </h5>
        <p class="footer-item-bio">
            Mội vấn đề thắc mắc vui lòng liên hệ HOTLINE:
           <a href="tel: 0932575508">0932575508</a>
        </p>
    </div>
    <div class="footer-item">
        <h5>
            ĐỊA CHỈ
        </h5>
        <div class="footer-item-bio">
            <i class="fa-solid fa-location-dot"></i>
             Ninh Kiều, Cần Thơ
        </div>
        <div class="footer-item-bio">
            <a href="tel: 0932575508" class="footer-item-bio">
                <i class="fa-solid fa-phone"></i>
                0932575508
            </a>
        </div>
        <div class="footer-item-bio">
           <a href="https://www.facebook.com/profile.php?id=61553763922371">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61553763922371">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61553763922371">
                <i class="fa-brands fa-discord"></i>
            </a>
        </div>
    </div>
</footer>
<div class="copyrights">
    <p class="copyrights-content">
        @2023 Copyrights: Looc Store
    </p>
</div>






<script>
    


        //FORTMAT lai gia san pham
        var spgia = document.querySelectorAll('.gia_format')
        for (var i = 0; i < spgia.length; i++) {
            spgia[i].innerText = formatCash(spgia[i].innerText)
        }

        function formatCash(str) {
            return str.split('').reverse().reduce((prev, next, index) => {
                return ((index % 3) ? next : (next + ' ')) + prev
            })
        }


        //Thông báo
        function thongbaopopup(noidung, trangthai) {
            let icon;
            if (trangthai) {
                icon = '<div style="text-align: center; width:40px; height: 100%; border-right:3px solid #44ff00; margin-right: 10px;"><i class="fa-regular fa-circle-check" style="color: #44ff00;"></i></div>'
            } else {
                icon = '<div style="text-align: center; width:40px; height: 100%; border-right:3px solid #ff0000; margin-right: 10px;"><i class="fa-regular fa-circle-xmark" style="color: #ff0000;"></i></div>'
            }

            Swal.fire({
                width: 'auto',
                padding: '2px',
                html: '<div style="padding: 20px; border-radius: 5px; color: black; background-color:aliceblue; margin: height: 100px; display: flex; font-size: 18px; font-weigh: 600">' + icon + noidung + '</div>',
                position: "top-end",
                background: 'var(--mau-phu-thu-3)',
                showConfirmButton: false,
                showClass: {
                    popup: 'swal2-show',
                    backdrop: 'swal2-backdrop-show',
                    icon: 'swal2-icon-show'
                },
                hideClass: {
                    popup: 'swal2-hide',
                    backdrop: 'swal2-backdrop-hide',
                    icon: 'swal2-icon-hide'
                },
                timer: 2000
            });
        }


        document.addEventListener('DOMContentLoaded', function () {
            //Thông báo thêm vào giỏ hàng
            var btnThemSanPhamVaoGio = $('.the_san_pham-item-btn-themgh');
            var formThemGioHang = $('.form_them_gio_hang')
            var btnMuaNgay = $('.the_san_pham-item-btn-mua')

            btnThemSanPhamVaoGio.click(function () {
                if(document.cookie && document.cookie.length > 10){
                    setTimeout(() => {
                        formThemGioHang.submit();
                    }, 1500)
                    thongbaopopup('Đã thêm vào giỏ !', true)
                }else{
                    setTimeout(() => {
                        formThemGioHang.submit();
                    }, 1500)
                    thongbaopopup('Chưa đăng nhập', false)
                }
            })
            btnMuaNgay.click(function () {
                if (document.cookie.length < 10){
                    thongbaopopup('Chưa đăng nhập', false)
                }
            })
        })

        //Lay gia tri params 
        function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }



        //Chat

         
</script>