<footer class="footer">
    <div class="footer-item">
        <h5>
            LOOC STORE
        </h5>
        <p class="footer-item-bio">
            Cửa hàng Looc Store là cửa hàng chuyên cung cấp điện thoại chính hãng.
        </p>
    </div>
    <div class="footer-item">
        <h5>
            LIÊN HỆ HỖ TRỢ
        </h5>
        <p class="footer-item-bio">
           <a href="#">Hỗ trợ</a>
        </p>
    </div>
    <div class="footer-item">
        <h5>
            ĐỊA CHỈ
        </h5>
        <div class="footer-item-bio">
            <i class="fa-solid fa-location-dot"></i>
             Ninh Kiều, Cần Thơ
        </div>
        <div class="footer-item-bio">
            <a href="tel: 0932575508" class="footer-item-bio">
                <i class="fa-solid fa-phone"></i>
                0932575508
            </a>
        </div>
        <div class="footer-item-bio">
           <a href="https://www.facebook.com/15ThanhLoc">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.facebook.com/15ThanhLoc">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/15ThanhLoc">
                <i class="fa-brands fa-discord"></i>
            </a>
        </div>
    </div>
</footer>
<div class="copyrights">
    <p class="copyrights-content">
        @2023 Copyrights: Looc Store
    </p>
</div>






<script>
    //Tạo mã sản phẩm tự động 
    function ChangeToSlug() {
            var title, slug;

            //Lấy text từ thẻ input title 
            title = document.getElementById("tensp").value;

            //Đổi chữ hoa thành chữ thường
            slug = title.toLowerCase();

            //Đổi ký tự có dấu thành không dấu
            slug = slug.replace(/á|à|ả|ạ|ã|ă|ắ|ằ|ẳ|ẵ|ặ|â|ấ|ầ|ẩ|ẫ|ậ/gi, 'a');
            slug = slug.replace(/é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ/gi, 'e');
            slug = slug.replace(/i|í|ì|ỉ|ĩ|ị/gi, 'i');
            slug = slug.replace(/ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/gi, 'o');
            slug = slug.replace(/ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự/gi, 'u');
            slug = slug.replace(/ý|ỳ|ỷ|ỹ|ỵ/gi, 'y');
            slug = slug.replace(/đ/gi, 'd');
            //Xóa các ký tự đặt biệt
            slug = slug.replace(/\`|\~|\!|\@|\#|\||\$|\%|\^|\&|\*|\(|\)|\+|\=|\,|\.|\/|\?|\>|\<|\'|\"|\:|\;|_/gi, '');
            //Đổi khoảng trắng thành ký tự gạch ngang
            slug = slug.replace(/ /gi, " - ");
            //Đổi nhiều ký tự gạch ngang liên tiếp thành 1 ký tự gạch ngang
            //Phòng trường hợp người nhập vào quá nhiều ký tự trắng
            slug = slug.replace(/\-\-\-\-\-/gi, '-');
            slug = slug.replace(/\-\-\-\-/gi, '-');
            slug = slug.replace(/\-\-\-/gi, '-');
            slug = slug.replace(/\-\-/gi, '-');
            //Xóa các ký tự gạch ngang ở đầu và cuối
            slug = '@' + slug + '@';
            slug = slug.replace(/\@\-|\-\@|\@/gi, '');
            //In slug ra textbox có id “slug”
            document.getElementById('slug').value = slug;
        }


        //FORTMAT lai gia san pham
        var spgia = document.querySelectorAll('.gia_format')
            for (var i = 0; i < spgia.length; i++) {
                spgia[i].innerText = formatCash(spgia[i].innerText)
            }

            function formatCash(str) {
                return str.split('').reverse().reduce((prev, next, index) => {
                    return ((index % 3) ? next : (next + ' ')) + prev
                })
            }


        //Thông báo
        function thongbaopopup(noidung, trangthai) {
            let icon;
            if (trangthai) {
                icon = '<div style="text-align: center; width:40px; height: 100%; border-right:3px solid #44ff00; margin-right: 10px;"><i class="fa-regular fa-circle-check" style="color: #44ff00;"></i></div>'
            } else {
                icon = '<div style="text-align: center; width:40px; height: 100%; border-right:3px solid #ff0000; margin-right: 10px;"><i class="fa-regular fa-circle-xmark" style="color: #ff0000;"></i></div>'
            }

            Swal.fire({
                width: 'auto',
                padding: '2px',
                html: '<div style="padding: 20px; border-radius: 5px; color: black; background-color:aliceblue; margin: height: 100px; display: flex; font-size: 18px; font-weigh: 600">' + icon + noidung + '</div>',
                position: "top-end",
                background: 'var(--mau-phu-thu-3)',
                showConfirmButton: false,
                showClass: {
                    popup: 'swal2-show',
                    backdrop: 'swal2-backdrop-show',
                    icon: 'swal2-icon-show'
                },
                hideClass: {
                    popup: 'swal2-hide',
                    backdrop: 'swal2-backdrop-hide',
                    icon: 'swal2-icon-hide'
                },
                timer: 2000
            });
        }


        document.addEventListener('DOMContentLoaded', function () {
            //Thông báo thêm vào giỏ hàng
            var btnThemSanPhamVaoGio = $('.the_san_pham-item-btn-themgh');
            var formThemGioHang = $('.form_them_gio_hang')

            btnThemSanPhamVaoGio.click(function () {
                setTimeout(() => {
                    formThemGioHang.submit();
                }, 1500)
                thongbaopopup('Đã thêm vào giỏ !', true)
            })
        })
</script>