.don_hang{
    width: 80%;
    margin: auto;
}
#don_hang_search{
    width: 100%;
    height: 32px;
    margin-top: 10px;
    border: 1px solid var(--mau-phu-thu-3);
    border-radius: 5px;
    padding: 0 34px;

}
.don_hang-search{
    position: relative;
}
.don_hang-search i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 10px;
}
.nguoi_dung-tab_xem_don_theo_trang_thai{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--mau-phu-thu-1);
    margin-top: 10px;
    box-shadow: 3px 3px silver;
    border: 1px solid var(--mau-phu-thu-3);
    border-radius: 5px;
}
.tab_xem_don_theo_trang_thai-item{
    width: 20%;
    text-align: center;
    margin: 0;
    padding: 10px;
}
.don_hang-item{
    padding: 20px 40px;
    background-color: antiquewhite;
    border: 1px solid var(--mau-phu-thu-3);
    border-radius: 10px;
    margin-top: 10px;
}
.don_hang-item--trangthai{
    text-align: right;
    font-weight: 600;
    align-items: center;
}
.don_hang-item--trangthai-message{
    color: green;
    font-style: 15px;
    padding: 10px;
}
.don_hang-item--trangthai-ten{
    font-size: 20px;
    font-weight: 700;
    color: greenyellow;

}
.don_hang-item--sanpham--img{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 5px;
}
.don_hang-item--sanpham{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.don_hang-item--sanpham-thongso{
    margin-left: 10px;
    padding: 10px 5px;
}
.don_hang-item--sanpham-thongso-ten{
    font-size: 30px;
    font-weight: 700;
}
.don_hang-item--sanpham-thongso-mausac,
.don_hang-item--sanpham-thongso-soluong{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 3px 7px;
    border-radius: 5px;
}
.don_hang-item--sanpham-thongso-gia{
    margin-top: 10px;
    color: red;
    font-size: 18px;
    font-weight: 700;
}
.don_hang-item--thanhtien{
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
}
.don_hang-item--thanhtien-gia{
    font-size: 30px;
    font-weight: 600;
    color: red;
}
.don_hang-item--btn{
    margin-top: 30px;
    padding-right: 70px;
    text-align: right;
}
.van_chuyen, .dang_giao, .hoan_thanh, .da_huy, .tat_ca{
    background-color: rgb(102, 102, 199);
}


/* Trang danh gia */
.danh_gia_sp-title{
    font-size: 20px;
    font-weight: 600;
    color: orange;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--mau-phu-thu-3);
}
.danh_gia_sp{
    width: 50%;
    margin: auto;
    background-color: var(--mau-phu-thu-2);
    border-radius: 10px;
    border: 1px solid var(--mau-phu-thu-3);
    margin-top: 10px;
    padding: 10px 20px;
}
.danh_gia_sp-header{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}
.danh_gia_sp-header a{
    font-size: 18px;
    font-weight: 500;
    color: blue;
}
.danh_gia_sp-header a:hover{
    color: rgb(92, 92, 255);
}
.danh_gia_sp-body-item{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid var(--mau-phu-thu-3);
    border-radius: 10px;
}
.item-sanpham{
    display: flex;
}
.item-sanpham--img{
    width: 80px;
    height: 85px;
    border-radius: 10px;
    padding: 5px;
}
.item-sanpham--thongtinsp{
    padding-top: 10px;
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}
.thongtinsp-tensp{
    margin: 0;
}
.thongtinsp-sao_danh_gia{
    font-size: 20px;
    color: rgb(255, 193, 7);
}
.danh_gia_sp-body-binhluan-input{
    margin-top: 5px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    outline-color: var(--mau-phu-thu-3);
}
.danh_gia_sp-footer{
    margin-top: 20px;
}
.danh_gia_sp-footer .sosao_danhgia{
    margin-left: 20px;
}
.danh_gia_sp-footer-giaohang{
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid var(--mau-phu-thu-3);
    border-radius: 10px;
}
.danh_gia_sp-footer-giaohang-title{
    display: flex;
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;
}
.danh_gia_sp-footer-btn{
    margin: 20px 0;
    text-align: right;
}

.sao_widget{ 
    margin-left: 20px;
    font-size: 20px;
    color: #444;
    transition: all 0.3s ease;
}
.sao_checked{
    transition: all 0.3s ease;
    color: #fd4;
}

/* ---------------------- Trang dat hang thanh cong --------------------------- */
.dat_hang_thanh_cong{
    width: 1000px;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 400;
}
.dat_hang_thanh_cong-title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.dat_hang_thanh_cong-title i{
    color: greenyellow;
    font-size: 30px;
}
.dat_hang_thanh_cong-title p {
    margin: 0;
}
.dat_hang_thanh_cong-loicamon{
    padding: 10px 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.dat_hang_thanh_cong-loicamon p{
    margin: 0;
}
.dat_hang_thanh_cong-loicamon p span{
    font-size: 16px;
    font-weight: 700;
}
.dat_hang_thanh_cong-loicamon p a{
    color: red;
    font-size: 16px;
    font-weight: 700px;
}
.dat_hang_thanh_cong-loicamon p a:hover{
    color: rgb(255, 119, 0);
}


.dat_hang_thanh_cong--body{
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 10px;
}
.dat_hang_thanh_cong--body-title{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}
.dat_hang_thanh_cong--body-donhangtc{
    display: flex;
    flex-direction: row;
}
.donhangtc_info,
.donhangtc_info-sanpham{
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px silver;
    height: 100%;
}
.donhangtc_info p {
    font-weight: 600;
    margin-left: 10px;
}
.donhangtc_info-khachhang{
    font-size: 15px;
    display: flex;
    margin-left: 10px;
}
.donhangtc_info-khachhang p {
    margin: 0;
}
.donhangtc_info-khachhang--title{
    font-weight: 600;
}
.donhangtc_info-khachhang--data{
    margin-left: 20px;
}

.donhangtc_info-sanpham{
    margin-left: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.donhangtc_info-sanpham p{
    margin: 0;
    font-weight: 600;
}
.donhangtc_info-sanpham--item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    padding: 0 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 0 0 2px 1px silver;
}
.donhangtc_info-sanpham--item img{
    padding: 10px;
    width: 120px;
    height: 125px;
}
.donhangtc_info-sanpham--item .thongtinsp{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.donhangtc_info-sanpham--item .thongtinsp p{
    margin: 0;
}
.donhangtc_info-sanpham--item .thongtinsp .tensp{
    font-size: 18px;
    font-weight: 600;
}
.donhangtc_info-sanpham--item .thongtinsp .soluong,
.donhangtc_info-sanpham--item .thongtinsp .mausac {
    font-size: 15px;
    font-weight: 600;
}
.donhangtc_info-sanpham--item .giasp{
    color: red;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
}

.donhangtc_info-sanpham--tongtien {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
}
.donhangtc_info-sanpham--tongtien div:last-child{
    color: red;
}
.donhangtc_info-sanpham--tongtien p{
    margin: 0;
}

.dat_hang_thanh_cong-footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* -----------------Tài khoản của tôi-------------- */
.tai_khoan_cua_toi{
    border: 1px solid var(--mau-phu-thu-3);
    padding: 20px;
    width: 40%;
    margin: 10px auto;
    text-align: center;
    background: linear-gradient(to bottom, var(--mau-chinh), var(--mau-phu-thu-2));
    border-radius: 100px;
}
.tai_khoan_cua_toi img{
    border-radius: 100px;
    width: 150px;
    height: 150px;
}
.tai_khoan_cua_toi p {
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.tai_khoan_cua_toi-thongke--item{
    margin: 10px auto;
    width: 300px ;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to bottom, rgb(197, 197, 197), rgb(167, 167, 167))
}
.tai_khoan_cua_toi-thongke--item p {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
.tai_khoan_cua_toi-thongke--item span {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(255, 241, 181);
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.tai_khoan_cua_toi-suataikhoan{
    margin: 10px auto;
    width: 300px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    color: white;
}
.tai_khoan_cua_toi-suataikhoan a{
    background: linear-gradient(to bottom, var(--mau-chinh), var(--mau-phu-thu-1));
    border: 1px solid var(--mau-phu-thu-3);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
.tai_khoan_cua_toi-suataikhoan a:last-child{
    background: linear-gradient(to bottom, var(--mau-chinh), red);
}
.tai_khoan_cua_toi-suataikhoan a:hover{
    color: aliceblue;
    transform: scale(1.02);
}